In [1]:
import sys
import glob
import os
import re
import pandas as pd
import statsmodels.api as sm
from sklearn.linear_model import HuberRegressor
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt
from matplotlib.lines import Line2D
from matplotlib.ticker import FuncFormatter, MaxNLocator
import numpy as np
from datetime import datetime
from typing import Dict, Optional, List
from google.colab import drive
drive.mount('/content/drive')

sys.path.append('/content/drive/Shareddrives/market_analysis_v2/scripts')
# from clean_cs import *
# from clean_fb import *
# from constants_and_helpers import *
from enrich import *

Mounted at /content/drive

# Scripts

In [2]:
import re
import pandas as pd
from typing import Dict, Optional, List

# --- Carsales/General Scrapes (CS) Constants ---
YEAR_MIN, YEAR_MAX = 1980, 2035
ORDER: List[str] = ['href', 'year_make_model', 'trim', "listed_price", 'transmission', 'odometer', 'seller_type']

YEAR_RE  = r'\b(19[89]\d|20[0-3]\d)\b'
PRICE_RE = r'^(?:AU\$|\$)\s*[\d,]+(?:\.\d{2})?\b' # Made currency symbol mandatory
ODOM_RE  = r'^\s*\d+(?:,?\d{3})*K?\s*km\s*$' # Added optional 'K' for Facebook odometer format
URL_RE   = r'^(?:https?://|www\.)'
TX, SELLER = {'automatic', 'manual'}, {'private', 'dealer used'}

THRESH: Dict[str, float] = {
    'year_make_model': 0.50,
    "listed_price":           0.60,
    'transmission':    0.80,
    'odometer':        0.60,
    'seller_type':     0.70,
}

# --- Facebook Marketplace (FB) Constants ---
FB_ORDER: List[str] = ['href', 'year_make_model', 'listed_price', 'odometer', 'location']
THRESH_FB: Dict[str, float] = {
    'href':            0.80,
    'year_make_model': 0.50,
    'listed_price':    0.60,
    'odometer':        0.60,
    'location':        0.40,
}

# --- Predicates (Validation Rules) ---
def _ratio(mask: pd.Series) -> float:
    return float(mask.mean()) if len(mask) else 0.0

def _yr_ok(s: pd.Series) -> pd.Series:
    years = pd.to_numeric(s.astype(str).str.extract(YEAR_RE, expand=False), errors='coerce')
    return years.between(YEAR_MIN, YEAR_MAX)

PRED = {
    'year_make_model': lambda s: s.astype(str).pipe(_yr_ok) & s.astype(str).str.contains(r'[A-Za-z]', na=False),
    "listed_price":           lambda s: s.astype(str).str.match(PRICE_RE, na=False),
    'transmission':    lambda s: s.astype(str).str.strip().str.lower().isin(TX),
    'odometer':        lambda s: s.astype(str).str.match(ODOM_RE, flags=re.I, na=False),
    'seller_type':     lambda s: s.astype(str).str.strip().str.lower().isin(SELLER),
}

PRED_FB = {
    'year_make_model': lambda s: s.astype(str).pipe(_yr_ok) & s.astype(str).str.contains(r'[A-Za-z]', na=False),
    'listed_price':    lambda s: s.astype(str).str.match(PRICE_RE, na=False),
    'odometer':        lambda s: s.astype(str).str.match(ODOM_RE, flags=re.I, na=False),
}

# --- Core Identification Functions ---
def identify_columns(df: pd.DataFrame) -> Dict[str, Optional[str]]:
    """Identifies and maps raw DataFrame columns to canonical Carsales/General columns."""
    cols = list(df.columns)
    if not cols:
        return {k: None for k in ORDER}

    href_col = cols[0]

    # Exclude URL-like columns from other detection logic
    url_ratio = {c: _ratio(df[c].astype(str).str.contains(URL_RE, case=False, na=False)) for c in cols}
    urlish = {c for c, r in url_ratio.items() if r >= 0.50}
    blocked = {href_col} | urlish

    remaining = [c for c in cols if c not in blocked]
    picks = {t: None for t in PRED}

    for t in PRED:
        if not remaining:
            break
        scores = {c: _ratio(PRED[t](df[c])) for c in remaining}
        best_col, best_score = max(scores.items(), key=lambda kv: kv[1])
        if best_score >= THRESH[t]:
            picks[t] = best_col
            remaining.remove(best_col)

    trim_col = None
    ymm = picks.get('year_make_model')
    if ymm in cols:
        i = cols.index(ymm)
        if i + 1 < len(cols):
            trim_col = cols[i + 1]

    return {'href': href_col, **picks, 'trim': trim_col}

def identify_fb_columns(df: pd.DataFrame) -> Dict[str, Optional[str]]:
    """Identifies and maps raw DataFrame columns to canonical Facebook Marketplace columns.
    Note: 'href' is assumed to be the first column and is handled by clean_fb directly.
    """
    cols = list(df.columns)
    if not cols:
        return {k: None for k in FB_ORDER}

    picks = {t: None for t in FB_ORDER}
    remaining = set(cols)

    # 'href' is now handled externally by clean_fb and is assumed to be the first column
    # So we set it to None here or simply don't try to identify it.
    # We explicitly remove the first column from 'remaining' as it's the href
    if cols and cols[0] in remaining:
        remaining.remove(cols[0])
    picks['href'] = None # No longer identified by this function

    # Identify 'year_make_model', 'listed_price', 'odometer'
    for t in ['year_make_model', 'listed_price', 'odometer']:
        if not remaining:
            break
        scores = {c: _ratio(PRED_FB[t](df[c])) for c in remaining}
        if scores:
            best_col, score = max(scores.items(), key=lambda kv: kv[1])
            if score >= THRESH_FB[t]:
                picks[t] = best_col
                remaining.remove(best_col)

    # Assign 'location', often found in column 'c' or as the last remaining column
    if picks['location'] is None:
        if 'c' in remaining:
            picks['location'] = 'c'
            remaining.remove('c')
        elif len(remaining) == 1:
            picks['location'] = remaining.pop()

    return picks

In [3]:
import pandas as pd
import os
from datetime import datetime, timedelta
from typing import Dict, Optional, List

def clean_cs(df: pd.DataFrame, save_raw: bool = False) -> pd.DataFrame:
    """
    Business Logic for clean_cs function:

    This function processes raw DataFrame outputs from Carsales/General web scrapes to standardize
    and clean vehicle listing data into a consistent format for analysis.

    Key steps and business rules:
    1.  **Raw Data Preservation (Optional):** If `save_raw` is True, the original DataFrame
        is saved to a timestamped CSV, and a 'raw' column (filename) is added to the output.
    2.  **Column Identification:** Dynamically maps raw DataFrame columns to canonical names
        ('href', 'year_make_model', 'listed_price', 'odometer', etc.) using `identify_columns`.
    3.  **Data Extraction & Standardization:**
        *   Cleans 'href' by removing query parameters and `http(s)://www.` prefix.
        *   Splits 'year_make_model' into 'year', 'make', and 'model'; converts 'year' to integer.
        *   Converts 'listed_price' and 'odometer' to integer, removing non-numeric characters.
        *   Transforms 'odometer' values from 'km' to '000 km' (e.g., 180,000 km -> 180).
    4.  **Output Structure:** Returns a DataFrame with a standardized set of columns for consistency.
    """
    raw_col_value = None
    if save_raw:
        raw_data_dir = 'data/raws'
        os.makedirs(raw_data_dir, exist_ok=True)
        timestamp = datetime.now()
        raw_filename = ''
        while True:
            raw_filename = os.path.join(raw_data_dir, f"raw_carsales_data_{timestamp.strftime('%Y%m%d_%H%M%S')}.csv")
            if not os.path.exists(raw_filename):
                break
            timestamp += timedelta(seconds=1)
        df.to_csv(raw_filename, index=False)
        raw_col_value = os.path.basename(raw_filename)

    if 'identify_columns' not in globals():
        raise NameError("Function 'identify_columns' not found. Please ensure 'constants_and_helpers.py' or cell 'gECV1vdedUm0' has been executed.")

    out = pd.DataFrame()
    if not df.empty and len(df.columns) > 0:
        out['href'] = df.iloc[:, 0]

    mapping = identify_columns(df)
    for col in ['year_make_model', 'trim', "listed_price", 'transmission', 'odometer', 'seller_type']:
        src = mapping.get(col)
        if src is not None and src != out['href'].name:
            out[col] = df[src]

    if save_raw and raw_col_value:
        out['raw'] = raw_col_value

    if 'year_make_model' in out.columns:
        split_cols = out['year_make_model'].astype(str).str.split(expand=True, n=2)
        if 0 in split_cols.columns:
            out['year'] = pd.to_numeric(
                split_cols[0].astype(str).str.replace(r'[^\d]', '', regex=True),
                errors='coerce'
            ).astype('Int64')
        else:
            out['year'] = pd.NA
        out['make'] = split_cols[1] if 1 in split_cols.columns else pd.NA
        out['model'] = split_cols[2] if 2 in split_cols.columns else pd.NA
    else:
        out[['year', 'make', 'model']] = pd.NA

    if 'href' in out.columns:
        out['href'] = out['href'].astype(str).str.split('?').str[0] # Remove query parameters

    for col in ["listed_price", 'odometer']:
        if col in out.columns:
            out[col] = pd.to_numeric(
                out[col].astype(str).str.replace(r'[^\d]', '', regex=True),
                errors='coerce'
            ).astype('Int64')

    if 'odometer' in out.columns:
        out['odometer'] = out['odometer'] // 1000

    final_cols = ['href', 'year', 'make', 'model', "listed_price", 'trim', 'odometer', 'seller_type']
    if save_raw:
        final_cols.insert(0, 'raw')
    return out[[c for c in final_cols if c in out.columns]]

In [4]:
import pandas as pd
import os
from datetime import datetime, timedelta
from typing import Dict, Optional, List

def clean_fb(df: pd.DataFrame, save_raw: bool = False) -> pd.DataFrame:
    """
    Business Logic for clean_fb function:

    This function processes raw DataFrame outputs from Facebook Marketplace scrapes to standardize
    and clean vehicle listing data into a consistent format for analysis.

    Key steps and business rules:
    1.  **Raw Data Preservation (Optional):** If `save_raw` is True, the original DataFrame
        is saved to a timestamped CSV, and a 'raw' column (filename) is added to the output.
    2.  **Column Identification:** Dynamically maps raw DataFrame columns to canonical names
        ('href', 'year_make_model', 'listed_price', 'odometer', 'location') using `identify_fb_columns`.
    3.  **Data Extraction & Standardization:**
        *   Cleans 'href' by removing query parameters and `http(s)://www.` prefix.
        *   Splits 'year_make_model' into 'year', 'make', and 'model'; converts 'year' to integer.
        *   Converts 'listed_price' and 'odometer' to integer, removing non-numeric characters.
        *   Filters out listings with 'listed_price' explicitly marked as "free".
    4.  **Data Quality Filtering:** Drops rows with missing (`pd.NA`) values in critical columns
        ('listed_price', 'odometer', 'year') to ensure data integrity. Also removes listings
        with a placeholder 'listed_price' of 12345.
    5.  **Output Structure:** Returns a DataFrame with a standardized set of columns for consistency.
    """
    raw_col_value = None
    if save_raw:
        raw_data_dir = 'data/raws'
        os.makedirs(raw_data_dir, exist_ok=True)
        timestamp = datetime.now()
        raw_filename = ''
        while True:
            raw_filename = os.path.join(raw_data_dir, f"raw_facebook_data_{timestamp.strftime('%Y%m%d_%H%M%S')}.csv")
            if not os.path.exists(raw_filename):
                break
            timestamp += timedelta(seconds=1)
        df.to_csv(raw_filename, index=False)
        raw_col_value = os.path.basename(raw_filename)

    if 'identify_fb_columns' not in globals():
        raise NameError("Function 'identify_fb_columns' not found. Please ensure 'constants_and_helpers.py' or cell 'gECV1vdedUm0' has been executed.")

    out = pd.DataFrame()
    if not df.empty and len(df.columns) > 0:
        out['href'] = df.iloc[:, 0]

    mapping = identify_fb_columns(df)
    for canonical_col, src_col in mapping.items():
        if canonical_col != 'href' and src_col is not None and src_col in df.columns:
            out[canonical_col] = df[src_col]

    if save_raw and raw_col_value:
        out['raw'] = raw_col_value

    if 'year_make_model' in out.columns:
        split_df = out['year_make_model'].astype(str).str.split(expand=True, n=2)
        if 0 in split_df.columns:
            out['year'] = split_df[0].astype(str).str.replace(r'[^0-9]', '', regex=True).replace('', pd.NA).astype(float).astype('Int64')
        else:
            out['year'] = pd.NA
        out['make'] = split_df[1] if 1 in split_df.columns else pd.NA
        out['model'] = split_df[2] if 2 in split_df.columns else pd.NA
    else:
        out[['year', 'make', 'model']] = pd.NA

    if 'href' in out.columns:
        out['href'] = out['href'].astype(str).str.split('?').str[0] # Remove query parameters

    for col in ["listed_price", 'odometer']:
        if col in out.columns:
            if col == 'listed_price':
                out = out[out[col].astype(str).str.lower() != "free"]
            out[col] = pd.to_numeric(
                out[col].astype(str).str.replace(r'[^0-9]', '', regex=True),
                errors='coerce'
            ).astype('Int64')

    cols_to_check_for_na = []
    if 'listed_price' in out.columns: cols_to_check_for_na.append('listed_price')
    if 'odometer' in out.columns: cols_to_check_for_na.append('odometer')
    if 'year' in out.columns: cols_to_check_for_na.append('year')

    if cols_to_check_for_na:
        out = out.dropna(subset=cols_to_check_for_na)

    final_columns = ['href', 'year', 'make', 'model', "listed_price", 'odometer', 'location']
    if save_raw:
        final_columns.insert(0, 'raw')
    return out[[c for c in final_columns if c in out.columns]]

In [26]:
import pandas as pd
from typing import Dict, Optional, List

def enrich_df(df: pd.DataFrame, gen_lookup: pd.DataFrame) -> pd.DataFrame:
    """Final clean after clean_cs or clean_fb, including generation assignment.

    Args:
        df (pd.DataFrame): The DataFrame to enrich.
        gen_lookup (pd.DataFrame): A lookup table for car generations.

    Returns:
        pd.DataFrame: The enriched DataFrame.
    """

    # --- 1. Add/Update date_scraped ---
    current_timestamp = pd.Timestamp.now().normalize()
    if 'date_scraped' in df.columns:
        df['date_scraped'] = df['date_scraped'].fillna(current_timestamp)
    else:
        df["date_scraped"] = current_timestamp

    # --- 2. Normalise make & model ---
    for col in ["make", "model"]:
        if col in df.columns:
            df[col] = (
                df[col]
                .astype(str)
                .str.lower()
                .str.replace(r"[^a-z0-9]+", "", regex=True)
            )

    # --- 3. Ensure year is numeric ---
    if "year" in df.columns:
        df["year"] = pd.to_numeric(df["year"], errors="coerce").astype("Int64")

    # --- 4. Calculate age ---
    if 'year' in df.columns:
        df['age'] = 2026 - df['year']

    # --- 5. Assign generation manually (no merge, no year_start/year_end contamination) ---
    df["gen"] = pd.NA

    for idx, row in gen_lookup.iterrows():
        mask = (
            (df["make"] == row["make"]) &
            (df["model"] == row["model"]) &
            (df["year"].between(row["year_start"], row["year_end"], inclusive="both"))
        )
        df.loc[mask, "gen"] = row["gen"]

    df["gen"] = df["gen"].astype("Int64")

    # --- 6. Create model_gen ---
    df["model_gen"] = df.apply(
        lambda r: f"{r['model']}_{r['gen']}" if pd.notna(r["gen"]) else None,
        axis=1
    )

    return df

In [6]:
def remove_bad_listings(df: pd.DataFrame) -> pd.DataFrame:
    """
    Applies filters to remove bad or undesirable listings from the DataFrame.
    This function is intended to be called after initial cleaning and data type conversions.

    Args:
        df (pd.DataFrame): The DataFrame to filter, expected to have 'year', 'listed_price', and 'odometer' columns.

    Returns:
        pd.DataFrame: The filtered DataFrame.
    """
    df_filtered = df.copy()

    # Price filters as specified by the user
    if 'listed_price' in df_filtered.columns:
        # Ensure listed_price is numeric for comparison
        df_filtered['listed_price'] = pd.to_numeric(df_filtered['listed_price'], errors='coerce')
        df_filtered = df_filtered[df_filtered["listed_price"] != 12345]
        df_filtered = df_filtered[df_filtered["listed_price"] > 3000]

    # Calculate age temporarily for the odometer filter if 'year' is available
    # Assuming 2026 is the reference year for age calculation based on other parts of the notebook
    if 'year' in df_filtered.columns:
        df_filtered['year'] = pd.to_numeric(df_filtered['year'], errors='coerce') # Ensure year is numeric
        temp_age = 2026 - df_filtered['year']
    else:
        temp_age = pd.Series(pd.NA, index=df_filtered.index) # Create a Series of NA for consistent operations

    # Odometer filter: odometer > 2 * age
    if 'odometer' in df_filtered.columns:
        # Ensure odometer is numeric
        df_filtered['odometer'] = pd.to_numeric(df_filtered['odometer'], errors='coerce')

        # Create a mask for rows where both odometer and temp_age are valid for comparison
        mask_valid_comparison = df_filtered['odometer'].notna() & temp_age.notna()

        # Filter out rows where (odometer is NOT > 2 * age) AND (the comparison is valid)
        # We keep rows where (odometer > 2 * age) OR (the comparison cannot be made due to NA values)
        df_filtered = df_filtered[~((df_filtered['odometer'] <= 2 * temp_age) & mask_valid_comparison)]

    return df_filtered

In [7]:
def compare_new_listings(listings: pd.DataFrame, gen_lookup: pd.DataFrame):
    """
    Processes new listing files, cleans, enriches, and compares them against existing listings.

    Args:
        listings (pd.DataFrame): Existing DataFrame of car listings.
        gen_lookup (pd.DataFrame): Lookup table for car generations.

    Returns:
        Tuple[pd.DataFrame, int, int, int, int]: A tuple containing:
            - enriched_new_listings (pd.DataFrame): DataFrame of newly processed and enriched listings.
            - tot_new (int): Total count of truly new listings.
            - tot_updated (int): Total count of updated listings.
            - tot_unchanged (int): Total count of unchanged listings.
            - tot_tot (int): Total count of all listings processed from new files.
    """
    tot_new, tot_updated, tot_unchanged, tot_tot = 0, 0, 0, 0
    enriched_new_listings = pd.DataFrame()

    # Dynamically find new CSV files
    cs_files = glob.glob('/content/carsales*.csv')
    fb_files = glob.glob('/content/facebook*.csv')

    for file_path in cs_files + fb_files:
        df_raw = pd.read_csv(file_path)
        df_cleaned = None

        if 'carsales' in os.path.basename(file_path):
            df_cleaned = clean_cs(df_raw, save_raw=False)
        elif 'facebook' in os.path.basename(file_path):
            df_cleaned = clean_fb(df_raw, save_raw=False)
        else:
            print(f"Unknown file type: {file_path}")
            continue

        # Checking how many new, updated, unchanged listings
        df_comparison = pd.merge(
            df_cleaned,
            listings,
            on='href',
            how='left',
            suffixes=('_new', '_existing')
        )

        # Identify new listings
        new_listings_df = df_comparison[df_comparison['listed_price_existing'].isnull()]
        n_new = len(new_listings_df)

        # Identify matched listings
        matched_listings_df = df_comparison[df_comparison['listed_price_existing'].notnull()]

        # From matched_listings, identify updated listings
        updated_listings_df = matched_listings_df[
            matched_listings_df['listed_price_new'] != matched_listings_df['listed_price_existing']
        ]
        n_updated = len(updated_listings_df)

        # From matched_listings, identify unchanged listings
        unchanged_listings_df = matched_listings_df[
            matched_listings_df['listed_price_new'] == matched_listings_df['listed_price_existing']
        ]
        n_unchanged = len(unchanged_listings_df)

        # Calculate total listings for the current file
        n_total_listings = len(df_cleaned)

        # Print the comparison result for the current file
        print(f"{file_path}    \t {n_new=}   \t {n_updated=} \t {n_unchanged=} \t Tot {n_total_listings}")

        tot_new += n_new
        tot_updated += n_updated
        tot_unchanged += n_unchanged
        tot_tot += n_total_listings

        if df_cleaned is not None:
            df_enriched = enrich_df(df_cleaned, gen_lookup)
            enriched_new_listings = pd.concat([enriched_new_listings, df_enriched], ignore_index=True)

    print(f"\t \t \t \t {tot_new=} \t {tot_updated=}\t {tot_unchanged=} {tot_tot=}")

    return

In [8]:
import pandas as pd
import os
from datetime import datetime, timedelta
from typing import Dict, Optional, List
import glob # Import glob for file pattern matching

def integrate_listings(listings_df: pd.DataFrame, gen_lookup: pd.DataFrame) -> pd.DataFrame:
    """
    Integrates new car listings from '/content/carsales*.csv' and '/content/facebook*.csv' files into an existing listings DataFrame.

    Args:
        listings_df (pd.DataFrame): The existing DataFrame of car listings.
        gen_lookup (pd.DataFrame): The lookup table for car generations.

    Returns:
        pd.DataFrame: A new DataFrame (`listings_1`) with integrated, cleaned, and enriched listings,
                      with existing listings handled by keeping the most recent entry.
    """
    processed_dfs = []

    # Dynamically find new CSV files
    cs_files = glob.glob('/content/carsales*.csv')
    fb_files = glob.glob('/content/facebook*.csv')
    new_file_paths = cs_files + fb_files

    for file_path in new_file_paths:
        df_raw = pd.read_csv(file_path)
        df_cleaned = None

        if 'carsales' in os.path.basename(file_path):
            df_cleaned = clean_cs(df_raw, save_raw=False)
        elif 'facebook' in os.path.basename(file_path):
            df_cleaned = clean_fb(df_raw, save_raw=False)
        else:
            print(f"Unknown file type: {file_path}")
            continue

        if df_cleaned is not None:
            df_enriched = enrich_df(df_cleaned, gen_lookup)
            processed_dfs.append(df_enriched)

    if processed_dfs:
        new_listings_df = pd.concat(processed_dfs, ignore_index=True)

        # Define all possible columns that might exist in either DataFrame
        # Get columns from existing listings and new listings, handling potential differences
        all_cols = list(set(listings_df.columns) | set(new_listings_df.columns))

        # Reindex both DataFrames to ensure they have the same columns
        listings_aligned = listings_df.reindex(columns=all_cols, fill_value=pd.NA)
        new_listings_aligned = new_listings_df.reindex(columns=all_cols, fill_value=pd.NA)

        # Ensure 'date_scraped' is in datetime format for proper sorting
        listings_aligned['date_scraped'] = pd.to_datetime(listings_aligned['date_scraped'], errors='coerce')
        new_listings_aligned['date_scraped'] = pd.to_datetime(new_listings_aligned['date_scraped'], errors='coerce')

        # Explicitly cast dtypes of new_listings_aligned to match listings_aligned for common columns
        # This helps prevent FutureWarning and ensures consistent types across the concatenated DataFrame
        for col in all_cols:
            if col in listings_aligned.columns and col in new_listings_aligned.columns:
                if listings_aligned[col].dtype != new_listings_aligned[col].dtype:
                    try:
                        if pd.api.types.is_numeric_dtype(listings_aligned[col]):
                            if str(listings_aligned[col].dtype) == 'Int64':
                                new_listings_aligned[col] = new_listings_aligned[col].astype('Int64')
                            else:
                                new_listings_aligned[col] = pd.to_numeric(new_listings_aligned[col], errors='coerce').astype(listings_aligned[col].dtype)
                        else:
                            new_listings_aligned[col] = new_listings_aligned[col].astype(listings_aligned[col].dtype)
                    except (TypeError, ValueError):
                        pass # Keep original dtype if casting causes error

        # Concatenate the aligned Dataframes
        listings_1 = pd.concat([listings_aligned, new_listings_aligned], ignore_index=True)
    else:
        listings_1 = listings_df.copy()

    # Sort by href, then listed_price (lowest first), then date_scraped (most recent first), then drop duplicates keeping the first
    listings_1 = listings_1.sort_values(by=['href', 'listed_price', 'date_scraped'], ascending=[True, True, False])
    listings_1 = listings_1.drop_duplicates(subset=['href'], keep='first')
    listings_1 = remove_bad_listings(listings_1)

    # Ensure 'gen' column is Int64 after all operations
    listings_1['gen'] = listings_1['gen'].astype('Int64')

    print(f"Final listings_1 DataFrame has {len(listings_1)} unique listings after merging and de-duplication.")
    return listings_1

In [36]:
import pandas as pd
from datetime import date
from typing import Optional

def filter_eligible_listings(listings_lr: pd.DataFrame, client: Optional[str] = None, start_date: Optional[date] = None) -> pd.DataFrame:
    """
    Filters car listings based on universal standards, client-specific criteria, and date.

    Args:
        listings_lr (pd.DataFrame): The DataFrame of car listings with regression results.
        client (Optional[str]): The name of a specific client to filter for. If None, considers all clients.
        start_date (Optional[date]): A date. If provided, keeps listings scraped on or after this date.
                                   If None, keeps only the most recent listings scraped.

    Returns:
        pd.DataFrame: A DataFrame of eligible listings, sorted by excess_value descending.
    """
    eligible_listings_df = pd.DataFrame()

    # 1. Apply Universal Filters
    listings_filtered = listings_lr[
        (listings_lr['odometer'] > 4 * listings_lr['age']) &
        (listings_lr['listed_price'] < 0.95 * listings_lr['market_value'])
    ].copy()

    if listings_filtered.empty:
        print("No listings remain after universal filters.")
        return pd.DataFrame()

    # 2. Apply Date Filter (start_date or most recent)
    if start_date:
        # Convert start_date to pandas Timestamp for comparison
        start_timestamp = pd.Timestamp(start_date).normalize()
        listings_filtered = listings_filtered[listings_filtered['date_scraped'] >= start_timestamp]
    else:
        # Identify the most recent date_scraped across all listings
        most_recent_date = listings_filtered['date_scraped'].max()
        # Filter to keep all listings on the same day as the most recent date
        listings_filtered = listings_filtered[listings_filtered['date_scraped'].dt.date == most_recent_date.date()]

    if listings_filtered.empty:
        print("No listings remain after date filtering.")
        return pd.DataFrame()

    # 3. Evaluate Client Suitability
    global clients # Access the global clients list

    for client_info in clients:
        current_client_name = client_info['client']
        max_price = client_info['max_listing_price']
        max_odometer = client_info['max_odometer']
        model_gens_allowed = client_info['model_gens']

        # Initialize client eligibility column
        listings_filtered[f'client_{current_client_name}'] = False

        # Price and odometer conditions
        price_cond = listings_filtered['listed_price'] <= max_price
        odometer_cond = listings_filtered['odometer'] <= max_odometer

        # Model generation condition
        model_gen_cond = pd.Series(False, index=listings_filtered.index)
        if 'model_gen' in listings_filtered.columns:
            for allowed_gen_pattern in model_gens_allowed:
                model_gen_cond = model_gen_cond | listings_filtered['model_gen'].astype(str).str.startswith(allowed_gen_pattern)

        # Combine all conditions for the current client
        listings_filtered[f'client_{current_client_name}'] = price_cond & odometer_cond & model_gen_cond

    # 4. Filter for Client-Eligible Listings
    all_client_columns = [f'client_{c["client"]}' for c in clients]

    if all_client_columns:
        existing_client_columns = [col for col in all_client_columns if col in listings_filtered.columns]
        if existing_client_columns:
            if client: # If a specific client is provided
                client_col_name = f'client_{client}'
                if client_col_name in existing_client_columns:
                    eligible_listings_df = listings_filtered[listings_filtered[client_col_name]].copy()
                else:
                    print(f"Warning: Client '{client}' not found or has no eligible listings.")
                    return pd.DataFrame()
            else: # No specific client, filter for any client
                eligible_listings_mask = listings_filtered[existing_client_columns].any(axis=1)
                eligible_listings_df = listings_filtered[eligible_listings_mask].copy()
        else:
            print("No client eligibility columns were created.")
    else:
        print("No clients defined.")

    if eligible_listings_df.empty:
        print("No eligible listings found after client-specific filtering.")
        return pd.DataFrame()

    # 5. Sort Eligible Listings
    if 'excess_value' in eligible_listings_df.columns:
        eligible_listings_df = eligible_listings_df.sort_values(by='excess_value', ascending=False)
    else:
        print("Eligible listings found, but 'excess_value' column is missing for sorting.")

    return eligible_listings_df

# Linear Regression

In [9]:
def apply_regression(df: pd.DataFrame) -> (pd.DataFrame, pd.Series):
    """
    Applies Huber regression to the input DataFrame to predict car prices.

    Args:
        df (pd.DataFrame): The input DataFrame containing car listings.

    Returns:
        (pd.DataFrame, pd.Series): A tuple containing:
            - The DataFrame with 'market_value' and 'excess_value' columns added.
            - A Series of unscaled regression coefficients.
    """
    listings_lr = df.copy()

    # 1) Coerce numeric types
    listings_lr['year'] = pd.to_numeric(listings_lr['year'], errors='coerce')
    listings_lr['odometer'] = pd.to_numeric(listings_lr['odometer'], errors='coerce')
    listings_lr["listed_price"] = pd.to_numeric(listings_lr["listed_price"], errors='coerce')

    # 2) One-hot encode model_gen
    listings_lr["model_gen"] = listings_lr["model_gen"].astype(str)
    dummies = pd.get_dummies(listings_lr["model_gen"], prefix="mg_", prefix_sep="")

    # remove base category "civic_9" if it exists
    base_col = "civic_9"
    if base_col in dummies.columns:
        dummies = dummies.drop(columns=[base_col])

    listings_lr = pd.concat([listings_lr, dummies], axis=1)

    # 3) Build X, y & keep mask
    predictor_cols = ['age', 'odometer'] + list(dummies.columns)
    X = listings_lr[predictor_cols].astype(float)
    y = listings_lr["listed_price"].astype(float)

    keep = X.notna().all(axis=1) & y.notna()

    X_keep = X.loc[keep]
    y_keep = y.loc[keep]

    # 4) Scale predictors
    scaler = StandardScaler()
    X_scaled = scaler.fit_transform(X_keep)

    # 5) Fit Huber Regression
    huber = HuberRegressor(max_iter=1000, epsilon=1.5)
    huber.fit(X_scaled, y_keep)

    # 6) Predict & store results
    pred = huber.predict(X_scaled)
    listings_lr.loc[keep, "market_value"] = pred
    listings_lr.loc[keep, "excess_value"] = pred - listings_lr.loc[keep, "listed_price"]

    # 7) Recover coefficients on the original (unscaled) feature scale
    coef_scaled = huber.coef_
    mu = scaler.mean_
    sigma = scaler.scale_

    original_intercept = huber.intercept_ - np.sum(coef_scaled * (mu / sigma))
    original_coefs = coef_scaled / sigma

    coef_unscaled = pd.Series(
        np.concatenate([[original_intercept], original_coefs]),
        index=["intercept"] + predictor_cols
    )

    listings_lr = listings_lr.loc[:, ~listings_lr.columns.str.startswith("mg_")]

    return listings_lr, coef_unscaled

# Working

In [17]:
clients=[
    {
        "client":"anita_c",
        "max_listing_price":13500,
        "max_odometer":160,
        "model_gens":[
            "3_2",
            "3_3",
            "civic_",
            "jazz_3",
            "i30_"
        ]
    },
    {
        "client":"magesh_t",
        "max_listing_price":13500,
        "max_odometer":160,
        "model_gens":[
            "3_3",
            "civic_",
            "i30_"
        ]
    }
]

In [18]:
gen_lookup = pd.read_csv("/content/drive/Shareddrives/market_analysis_v2/gen_lookup.csv")
listings = pd.read_csv("/content/drive/Shareddrives/market_analysis_v2/listings.csv")
# Remove 'https://' or 'http://' and 'www.' from existing listings 'href'
listings['href'] = listings['href'].astype(str).str.replace(r'^(https?://)?(www\.)?', '', regex=True)

In [19]:
compare_new_listings(listings, gen_lookup)

/content/carsales (3).csv    	 n_new=8   	 n_updated=0 	 n_unchanged=0 	 Tot 8
/content/carsales (4).csv    	 n_new=11   	 n_updated=0 	 n_unchanged=0 	 Tot 11
/content/carsales (1).csv    	 n_new=14   	 n_updated=0 	 n_unchanged=0 	 Tot 14
/content/carsales (2).csv    	 n_new=21   	 n_updated=0 	 n_unchanged=0 	 Tot 21
/content/carsales.csv    	 n_new=8   	 n_updated=0 	 n_unchanged=0 	 Tot 8
/content/carsales (6).csv    	 n_new=15   	 n_updated=0 	 n_unchanged=0 	 Tot 15
/content/carsales (5).csv    	 n_new=22   	 n_updated=0 	 n_unchanged=0 	 Tot 22
/content/facebook (1).csv    	 n_new=25   	 n_updated=0 	 n_unchanged=0 	 Tot 25
/content/facebook (3).csv    	 n_new=29   	 n_updated=0 	 n_unchanged=0 	 Tot 29
/content/facebook.csv    	 n_new=32   	 n_updated=0 	 n_unchanged=0 	 Tot 32
/content/facebook (2).csv    	 n_new=53   	 n_updated=0 	 n_unchanged=0 	 Tot 53
	 	 	 	 tot_new=238 	 tot_updated=0	 tot_unchanged=0 tot_tot=238

In [20]:
# Add new listings to listings dataframe

# Call the function to integrate the listings
listings1 = integrate_listings(listings, gen_lookup)

print("\nFirst 5 rows of the newly created listings_1:")
display(listings1.head())

Final listings_1 DataFrame has 1203 unique listings after merging and de-duplication.

First 5 rows of the newly created listings_1:

,model,odometer,seller_type,year,listed_price,trim,href,age,location,date_scraped,model_gen,gen,make
950,jazz,183,Dealer used,2004,4999,VTi Auto F,carsales.com.au/cars/details/2004-honda-jazz-v...,22,NaN,2025-12-07,jazz_1,1,honda
959,jazz,173,Dealer used,2004,6995,VTi-S Auto F MY05,carsales.com.au/cars/details/2004-honda-jazz-v...,22,NaN,2025-12-07,jazz_1,1,honda
945,jazz,270,Private,2005,5900,GLi Auto F MY05,carsales.com.au/cars/details/2005-honda-jazz-g...,21,NaN,2025-12-07,jazz_1,1,honda
967,jazz,121,Private,2005,7000,VTi Auto F MY05,carsales.com.au/cars/details/2005-honda-jazz-v...,21,NaN,2025-12-07,jazz_1,1,honda
369,accordeuro,135,Dealer used,2006,8990,Luxury Auto F MY06,carsales.com.au/cars/details/2006-honda-accord...,20,NaN,2025-12-07,accordeuro_1,1,honda

In [21]:
listings_lr, coefficients = apply_regression(listings1)

In [22]:
listings_lr.head()

,model,odometer,seller_type,year,listed_price,trim,href,age,location,date_scraped,model_gen,gen,make,market_value,excess_value
950,jazz,183,Dealer used,2004,4999,VTi Auto F,carsales.com.au/cars/details/2004-honda-jazz-v...,22,NaN,2025-12-07,jazz_1,1,honda,4585.333547,-413.666453
959,jazz,173,Dealer used,2004,6995,VTi-S Auto F MY05,carsales.com.au/cars/details/2004-honda-jazz-v...,22,NaN,2025-12-07,jazz_1,1,honda,4929.180145,-2065.819855
945,jazz,270,Private,2005,5900,GLi Auto F MY05,carsales.com.au/cars/details/2005-honda-jazz-g...,21,NaN,2025-12-07,jazz_1,1,honda,2225.769951,-3674.230049
967,jazz,121,Private,2005,7000,VTi Auto F MY05,carsales.com.au/cars/details/2005-honda-jazz-v...,21,NaN,2025-12-07,jazz_1,1,honda,7349.084256,349.084256
369,accordeuro,135,Dealer used,2006,8990,Luxury Auto F MY06,carsales.com.au/cars/details/2006-honda-accord...,20,NaN,2025-12-07,accordeuro_1,1,honda,10157.513263,1167.513263

In [23]:
listings_lr.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1203 entries, 950 to 1159
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   model         1203 non-null   object
 1   odometer      1203 non-null   Int64
 2   seller_type   443 non-null    object
 3   year          1203 non-null   Int64
 4   listed_price  1203 non-null   Int64
 5   trim          494 non-null    object
 6   href          1203 non-null   object
 7   age           1203 non-null   Int64
 8   location      387 non-null    object
 9   date_scraped  1203 non-null   datetime64[ns]
 10  model_gen     1203 non-null   object
 11  gen           1200 non-null   Int64
 12  make          1203 non-null   object
 13  market_value  1203 non-null   float64
 14  excess_value  1203 non-null   Float64
dtypes: Float64(1), Int64(5), datetime64[ns](1), float64(1), object(7)
memory usage: 157.4+ KB

In [24]:
listings_lr.value_counts("date_scraped")

date_scraped
2025-12-07    1203
Name: count, dtype: int64

In [37]:
a = filter_eligible_listings(listings_lr)

In [38]:
a.head()

,model,odometer,seller_type,year,listed_price,trim,href,age,location,date_scraped,model_gen,gen,make,market_value,excess_value,client_anita_c,client_magesh_t
564,3,112,NaN,2013,6990,NaN,facebook.com/marketplace/item/1631323244908984/,13,"Sydney, NSW",2025-12-07,3_2,2,mazda,11874.251430,4884.25143,True,False
1210,i30,88,NaN,2013,8888,NaN,https://www.facebook.com/marketplace/item/1368...,13,"Sydney, NSW",2025-12-07,i30_2,2,hyundai,13508.110858,4620.110858,True,True
548,3,153,NaN,2010,3999,NaN,facebook.com/marketplace/item/25680022568261625/,16,"Sydney, NSW",2025-12-07,3_2,2,mazda,8568.774969,4569.774969,True,False
1138,i30,157,NaN,2015,7900,NaN,https://www.facebook.com/marketplace/item/1563...,11,"Denham Court, NSW",2025-12-07,i30_2,2,hyundai,12399.372942,4499.372942,True,True
742,3,157,NaN,2010,4200,NaN,facebook.com/marketplace/item/1945978612989663/,16,"Sydney, NSW",2025-12-07,3_2,2,mazda,8431.236330,4231.23633,True,False